@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  transition: 0.5s;
}
.set-margin {
  margin: 20px;
}
p{
  opacity: 0.8;
}
header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.377);
background-image: url('https://images.pexels.com/photos/12470916/pexels-photo-12470916.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: darken;
}